.App {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.PostName {
  text-align: left;
}


.IngredientsUl {
  list-style: none;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.IngredientItem {
  margin: 5px;
}

footer {
  position: fixed;
}